---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Object Lessons" description="The Recurring Objects of Cinema" isHome>
  <div class="reading-column">
    <p>Site under construction.</p>
  </div>
</BaseLayout>
